@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.header__top {
  height: 80px;
}

.footer__top {
  margin-bottom: 30px;
}

.header__tel--number a,
.footer__top--tel a {
  text-decoration: none;
  font-size: 24px;
  line-height: 2rem;
  color: #22232d;
}

.header__tel--info,
.footer__top--info {
  font-size: 14px;
  line-height: 1rem;
  color: #666666;
}

.header__tel--graph {
  display: none;
}

.header__tel:hover .header__tel--graph {
  display: block;
  padding: 20px 25px;
  margin-top: 4px;
  background-color: #f3f3f4;
  width: 225px;
  height: 127px;
  right: 0px;
  position: absolute;
}

.header__tel--text {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #000000;
}

.headre__tel--day {
  font-size: 15px;
  line-height: 140%;
  color: #333333;
}

.header__tel--graph .header__tel--info {
  font-size: 13px;
}

section {
  height: 300px;
}

footer {
  background-color: #f3f3f4;
  height: auto;
  padding: 25px 0 30px;
}

.footer__top--item {
  font-size: 16px;
  line-height: 135%;
  color: #000000;
}

.footer__top--tel {
  text-align: right;
}

.footer__bottom--copyright {
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #999999;
}

@media (max-width: 1200px) {
  .footer__top--link {
    margin-top: 35px;
  }
}

@media (max-width: 479px) {
  .header__tel--info {
    display: none;
  }

  .header__logo img {
    width: 120px;
    height: 20px;
    padding-right: 0;
  }

  .header__tel .header__tel--number a,
  .footer__top .footer__top--tel a {
    font-size: 17px;
    padding-left: 0;
  }

  .footer__top--info {
    font-size: 12px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__top--item {
    font-size: 15px;
  }

  .footer__top--tel {
    text-align: left;
  }

  .footer__top--link {
    flex-direction: column;
  }
}
